<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header>
    <div>
        <a href="/">Home</a>
        <a href="/category">Category</a>
        <a href="/news">News</a>
        <a href="/about">About</a>
        <a href="/sighUpForm">Sign Up</a>
    </div>
</header>
<!--EJS  : hỗ trợ viết , hiển thị các nội dung động cho trang html !!!! -->
<h1><%= title %></h1>
<h2><%= name %></h2>
<p>Welcome to <%= title %></p>
<p>HELLELELELELEELEL</p>
<p>Danh sach User</p>
<ul>
    <% users.forEach(function (user) { %>
        <li><%= user.name %> - <%= user.email %></li>
        <a href="/deleteUser/<%= user._id %>">Delete</a>
        <a href="/updateUser/<%= user._id %>">Update</a>
    <% }) %>

</ul>


</body>
</html>
